@import url(https://fonts.googleapis.com/css?family=Roboto:300);







  *{
    margin: 0;
    padding: 0;
  }
  body{
    font-family: 'Merriweather', serif;
    background-color: #fff;
  }
  div{
    display: block;
  }
  .navbar{
    background-color: #fff;
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between;
  }
  .navbar__sub
  {
      display: flex;
      align-items: center;
    justify-content: flex-start;
  }
  .navbar__sub__1
  {
      display: flex;
      align-items: center;
    justify-content: flex-end;
  }
  .navbar__govt__logo{
    min-width: 40px;
  max-width: 140px;
  margin-left: -20px;
  }
  .govt__logo{
    width: 100%;

  }
  .govt__text
  {
    font-size: 8px;
    font-size-adjust: auto;
    margin-left: -35px;
  }
  .indian__flag
  {
    min-width: 40px;
    max-width: 80px;
    margin-right: 5px;
  }
  .indian__flag__logo{
      width: 100%;
  }
  .women__logo{
    min-width: 40px;
    max-width: 80px;
  }
  .women__logo__img{
    width: 100%;
  }
  .bttn__division{
    display: flex;
    justify-content: flex-start;
  }
  .button__division__right{
    display: flex;
    justify-content: flex-end;
  }
  .btn{

  background-image: linear-gradient(
      to right,
      #000080 0%,
      #000080 51%,
      #000080 100%
      );
      color: #fff;
      border: none;
      padding: 12px;
      border-radius: 4px;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
    }
    .bttn{

    background-image: linear-gradient(
        to right,
        #000080 0%,
        #000080 51%,
        #000080 100%
        );
        color: #fff;
        border: none;
        padding: 12px;
        border-radius: 6px;
        font-weight: 600;
  font-size: 14px;
      }

    .bttn:hover{

        background-image: linear-gradient(
            to right,
            #0018f9 0%,
            #0018f9 51%,
            #0018f9 100%
            );
    border: 0.80px solid #0000ff;
    cursor: pointer;
  }

    .footer__top{
  background-color: #0B2543;
      padding: 45px 0px;
    }
    h2,.footer__headings{
  color: #ffffff;
        margin-bottom: 20px;
    }

  .row__footer{
      display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
    .footer__top__region__left,.footer__top__region__center,.footer__top__region__right{

      font-size: 16px;
      line-height: 20px;
      color: #fff;
      font-weight: 700;
      padding-bottom: 10px;
    }
    .quick__links__item,.Links,.contact__details__item
    {
      font-size: 13px;
      line-height: 14px;
      color: #fff;
      font-weight: 500;
      padding-bottom: 6px;
      margin-bottom: 10px;
      align-items: flex-start;
      justify-content: flex-start;
        text-decoration: none;
        list-style-type: none;
    }
    .arrow__right{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 10px;
    }


  .footer__bottom{
    height: 40px;
    background-color: #04182F;
    color: #ffffff;

  }
  .copyright
  {
    font-size: 13px;
    line-height: 35px;
    color: #fff;
    font-weight: 500;
    padding-bottom: 6px;
    display: flex;
  align-items: center;
    justify-content:center;
    margin-bottom: 5px;

  }











form{
  width: 70%;
  margin-top:  10px;
  margin-bottom: 10px;
  margin-left: 140px;
  margin-right: 140px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  display: inline-block;
    text-align: center;
}

  input[type=text], select, textarea{
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  label {
    margin: 10px;
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  form button {
    font-family:  'Merriweather', serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #328f8a;
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .col-25 {
    float: left;
    width: 25%;
  }
  .col-35 {
    float: left;
    width: 35%;
    height: 30px;
    margin-left: -49px;
    margin-top: 18px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 8px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  form  p, form a {
    color: #4CAF50;
    font-size: 14px;
    text-decoration: none;
    margin: 15px;
  }

  @media screen and (max-width: 600px) {
     .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
